<% title "Edit Methodology Research Design Info" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", @methodology_research_design_info %> |
  <%= link_to "View All", methodology_research_design_infos_path %>
</p>
