<% title "Methodology Research Design Info" %>

<p>
  <strong>Description:</strong>
  <%= @methodology_research_design_info.description %>
</p>

<p>
  <%= link_to "Edit", edit_methodology_research_design_info_path(@methodology_research_design_info) %> |
  <%= link_to "Destroy", @methodology_research_design_info, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", methodology_research_design_infos_path %>
</p>
